html {
  font-family: "Unica One", sans-serif;
}

h1 {
  position: absolute;
  top: 3em;
  width: 6em;
  color: white;
  opacity: 0;
  animation: fade 5s ease;
}

.narwhale {
  position: relative;
}

#rainbow-violet {
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
  animation: line 1.5s linear forwards;
}

#rainbow-indigo {
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
  animation: line 1.5s linear forwards;
}

#rainbow-blue {
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
  animation: line 1.5s linear forwards;
}

#rainbow-green {
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
  animation: line 1.5s linear forwards;
}

#rainbow-yellow {
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
  animation: line 1.5s linear forwards;
}

#rainbow-orange {
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
  animation: line 1.5s linear forwards;
}

#rainbow-red {
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
  animation: line 1.5s linear forwards;
}

#narwhal-body {
  stroke-dasharray: 1981.415px;
  stroke-dashoffset: 1981.415px;
  animation: line 1.5s linear forwards;
}

#narwhal-eye {
  animation: fade 5s ease;
  opacity: 0;
}

@keyframes line {

  to {
    stroke-dashoffset: 0;
  }

}

@keyframes fade {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
